body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #83ffe2af;
  margin: 0;
  padding: 20px;
}

h2 {
  color: #2c3e50;
  text-align: center;
  margin-bottom: 30px;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: auto;
}

li {
  background: rgba(222, 97, 97, 0.712);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

a {
  text-decoration: none;
  color: #87abff;
  margin-right: 20px;
}

a:hover {
  text-decoration: underline;
}